[submodule "icestorm"]
	path = icestorm-src
	url = https://github.com/YosysHQ/icestorm
[submodule "nextpnr"]
	path = nextpnr-src
	url = https://github.com/YosysHQ/nextpnr
[submodule "prjtrellis-src"]
	path = prjtrellis-src
	url = https://github.com/YosysHQ/prjtrellis
